    /* Webkit */
    ::selection {
    background: #292a2e;
    }
    /* Gecko/Mozilla */
    ::-moz-selection {
    background: #292a2e;
    }


    h1 a:hover,
    .box_image_holder .box_icon .fa-stack i.fa-stack-base,
    .q_percentage_with_icon,
    .filter_holder ul li.active span,
    .filter_holder ul li:hover span,
    .q_tabs .tabs-nav li.active a:hover,
    .q_tabs .tabs-nav li a:hover,
    .q_accordion_holder.accordion .ui-accordion-header:hover,
    .q_accordion_holder.accordion.with_icon .ui-accordion-header i,
    .testimonials .testimonial_text_inner p.testimonial_author span.author_company,
    .testimonial_content_inner .testimonial_author .company_position,
    .q_icon_with_title.center .icon_holder .font_awsome_icon i:hover,
    .q_box_holder.with_icon .box_holder_icon_inner .fa-stack i.fa-stack-base,
    .q_icon_with_title.boxed .icon_holder .fa-stack,
    .q_progress_bars_icons_inner .bar.active i.fa-circle,
    .q_list.number ul>li:before,
    .q_social_icon_holder:hover .simple_social,
    .social_share_dropdown ul li :hover i,
    .social_share_list_holder ul li i:hover,
	.blog_holder.blog_masonry_date_in_image .social_share_list_holder ul li i:hover,
    .latest_post_inner .post_infos a:hover,
    .q_masonry_blog article .q_masonry_blog_post_info a:hover,
    .blog_holder article:not(.format-quote):not(.format-link) .post_info a:hover,
    .latest_post_inner .post_comments:hover i,
    .blog_holder article .post_description a:hover,
    .blog_holder article .post_description .post_comments:hover,
    .blog_like a:hover i,
    .blog_like a.liked i,
	.latest_post .blog_like a:hover span,
    article:not(.format-quote):not(.format-link) .blog_like a:hover span,
    .comment_holder .comment .text .replay,
    .comment_holder .comment .text .comment-reply-link,
    .header-widget.widget_nav_menu ul.menu li a:hover,
    aside .widget a:hover,
    aside .widget.posts_holder li:hover,
    .q_steps_holder .circle_small:hover span,
    .q_steps_holder .circle_small:hover .step_title,
    .header_top #lang_sel > ul > li > a:hover,
    .header_top #lang_sel_click > ul > li> a:hover,
    .header_top #lang_sel_list ul li a.lang_sel_sel,
    .header_top #lang_sel_list ul li a:hover,
    aside .widget #lang_sel a.lang_sel_sel:hover,
    aside .widget #lang_sel_click a.lang_sel_sel:hover,
    aside .widget #lang_sel ul ul a:hover,
    aside .widget #lang_sel_click ul ul a:hover,
    aside .widget #lang_sel_list li a.lang_sel_sel,
    aside .widget #lang_sel_list li a:hover,
    .service_table_inner li.service_table_title_holder i,
    .latest_post_two_holder .latest_post_two_text a:hover,
        .q_team .q_team_social_holder .q_social_icon_holder:hover .simple_social,
	.portfolio_template_8 .portfolio_detail .info .category,
	.portfolio_navigation.navigation_title .post_info span.categories,
	.qode_portfolio_related .projects_holder article .portfolio_description .project_category,
	.blog_compound article .post_content .blog_like a:hover, 
	.blog_compound article .post_content .blog_like a:hover span, 
	.blog_compound article .post_content .blog_share a:hover, 
	.blog_compound article .post_content .blog_share a:hover span, 
	.blog_compound article .post_content .post_comments:hover, 
	.blog_compound article .post_content .post_comments:hover span,
	.blog_holder.blog_pinterest article.format-link .post_info a:hover, 
	.blog_holder.blog_pinterest article.format-quote .post_info a:hover,
	.blog_compound .post_title .category a,
	.blog_compound .post_title .category span.date
	{
        color: #292a2e !important;
    }
	h2 a:hover,
	h3 a:hover,
	h4 a:hover,
	h5 a:hover,
	h6 a:hover,
	a:hover,
	p a:hover,
	.portfolio_share .social_share_holder a:hover,
	.breadcrumb .current,
	.breadcrumb a:hover,
	.q_icon_with_title .icon_with_title_link,
	.q_counter_holder span.counter,
	.q_font_awsome_icon i,
    .q_font_awsome_icon span,
	.q_dropcap,
	.q_counter_holder span.counter,
	nav.mobile_menu ul li a:hover,
	nav.mobile_menu ul li.active > a,
	.q_progress_bars_icons_inner.square .bar.active i,
	.q_progress_bars_icons_inner.circle .bar.active i,
	.q_progress_bars_icons_inner.normal .bar.active i,
	.q_font_awsome_icon_stack .fa-circle,
	.footer_top .q_social_icon_holder:hover .simple_social,
	.more_facts_button:hover,
	.box_holder_icon .fa-stack i,
	.blog_large_image_simple .minimalist_date,
	nav.content_menu ul li.active:hover i,
	nav.content_menu ul li:hover i,
	nav.content_menu ul li.active:hover a,
	nav.content_menu ul li:hover a,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span,
    .q_font_awsome_icon i:hover,
    .q_font_awsome_icon span:hover,
    .fullscreen_search_holder .search_submit:hover
	{

		color: #292a2e;
	}

    .box_image_with_border:hover,
    .qbutton:hover,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
    .load_more a:hover,
    .blog_load_more_button a:hover,
    #submit_comment:hover,
    .drop_down .wide .second ul li .qbutton:hover,
    .drop_down .wide .second ul li ul li .qbutton:hover,
    .qbutton.white:hover,
    .qbutton.green,
    .portfolio_slides .hover_feature_holder_inner .qbutton:hover,
    .testimonials_holder.light .flex-direction-nav a:hover,
    .q_progress_bars_icons_inner.square .bar.active .bar_noactive,
    .q_progress_bars_icons_inner.square .bar.active .bar_active,
    .q_progress_bars_icons_inner.circle .bar.active .bar_noactive,
    .q_progress_bars_icons_inner.circle .bar.active .bar_active,
    .widget.widget_search form.form_focus,
    .q_steps_holder .circle_small_wrapper,
    .animated_icon_inner span.animated_icon_back i,
	.blog_holder article.format-link .post_text:hover .post_text_inner,
	.blog_holder article.format-quote .post_text:hover .post_text_inner,
        input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover {
        border-color: #292a2e    }

    .q_icon_list i,
    .q_progress_bar .progress_content,
    .q_progress_bars_vertical .progress_content_outer .progress_content,
    .qbutton:hover,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
	.post-password-form input[type='submit']:hover,
    .load_more a:hover,
    .blog_load_more_button a:hover,
    #submit_comment:hover,
    .drop_down .wide .second ul li .qbutton:hover,
    .drop_down .wide .second ul li ul li .qbutton:hover,
    .qbutton.white:hover,
    .qbutton.green,
    .call_to_action,
    .highlight,
    .testimonials_holder.light .flex-direction-nav a:hover,
    .q_dropcap.circle,
    .q_dropcap.square,
    .q_message,
    .q_price_table.active .active_text,
    .q_icon_with_title.boxed .icon_holder .fa-stack,
    .q_font_awsome_icon_square,
    .q_icon_with_title.square .icon_holder .fa-stack:hover,
    .box_holder_icon_inner.square .fa-stack:hover,
    .box_holder_icon_inner.circle .fa-stack:hover,
    .circle .icon_holder .fa-stack:hover,
    .q_list.number.circle_number ul>li:before,
    .q_social_icon_holder.circle_social .fa-stack:hover,
    .social_share_dropdown ul li.share_title,
    .latest_post_holder .latest_post_date .post_publish_day,
    .q_masonry_blog article.format-link:hover,
    .q_masonry_blog article.format-quote:hover,
    #wp-calendar td#today,
    .vc_text_separator.full div,
    .mejs-controls .mejs-time-rail .mejs-time-current,
    .mejs-controls .mejs-time-rail .mejs-time-handle,
    .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
    .q_pie_graf_legend ul li .color_holder,
    .q_line_graf_legend ul li .color_holder,
    .q_team .q_team_text_inner .separator,
    .circle_item .circle:hover,
    .qode_call_to_action.container,
    .qode_carousels .flex-control-paging li a.flex-active,
    .animated_icon_inner span.animated_icon_back i,
    	.q_circles_holder .q_circle_inner2:hover,
    input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .portfolio_main_holder .item_holder.subtle_vertical_hover .icons_holder a,
    .portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
    .portfolio_main_holder .item_holder.image_text_zoom_hover .icons_holder a,
    .portfolio_main_holder .item_holder.slow_zoom .icons_holder a,
	.qode_video_box .qode_video_image:hover .qode_video_box_button,
	.blog_holder.masonry_gallery article.format-link:hover,
	.blog_holder.masonry_gallery article.format-quote:hover,
	.blog_holder.blog_chequered article.format-link:hover,
	.blog_holder.blog_chequered article.format-quote:hover
	{
        background-color: #292a2e;
    }


    .q_circles_holder .q_circle_inner2:hover,
	.blog_holder article.format-link .post_text:hover .post_text_inner,
	.blog_holder article.format-quote .post_text:hover .post_text_inner {
        background-color: #292a2e !important;
        border-color: #292a2e !important;
    }


    .ajax_loader .pulse,
    .ajax_loader .double_pulse .double-bounce1, .ajax_loader .double_pulse .double-bounce2,
    .ajax_loader .cube,
    .ajax_loader .rotating_cubes .cube1, .ajax_loader .rotating_cubes .cube2,
    .ajax_loader .stripes > div,
    .ajax_loader .wave > div,
    .ajax_loader .two_rotating_circles .dot1, .ajax_loader .two_rotating_circles .dot2,
    .ajax_loader .five_rotating_circles .container1 > div, .ajax_loader .five_rotating_circles .container2 > div, .ajax_loader .five_rotating_circles .container3 > div{
    background-color: #292a2e;
    }

    body{
    	    	    	font-family: 'Work Sans', sans-serif;
    	    	 color: #777777;     	 font-size: 14px;     	    }
            body,
		.wrapper,
        .content,
        .full_width,
        .overlapping_content .content > .container,
		.more_facts_holder,
		.comment_holder .comment #respond textarea,
		.comment_holder .comment #respond input[type='text'],
		.content .container
		{
        	background-color:#ffffff;
        }
		.angled-section polygon{
			fill: #ffffff;
		}
    body.boxed .wrapper{
		
		
	}
body.boxed .content{
	 background-color:#ffffff; }



.header_bottom,
.header_top,
.fixed_top_header .bottom_header{
	background-color: rgba(255,255,255,1);
}




.header_top,
.header_bottom,
.title,
.drop_down .second .inner ul li,
.header-widget.widget_nav_menu ul.menu li ul li a,
.header_top #lang_sel ul li ul li a,
.header_top #lang_sel ul li ul li a:visited,
.header_top #lang_sel_click ul li ul li a,
.header_top #lang_sel_click ul li ul li a:visited,
.drop_down .second .inner > ul,
.drop_down .second .inner>ul,
li.narrow .second .inner ul,
.drop_down .wide .second ul li,
.drop_down .second ul li
	{
	border-color:#e4e4e4;
}

	@media only screen and (min-width: 1000px) {
		.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner
		{
			padding-top:60px;
		}
	}




header.sticky .header_bottom{
	background-color: rgba(255,255,255,1) !important;
}

			
			header:not(.sticky):not(.scrolled) .header_bottom .container_inner,
			header.fixed_top_header .bottom_header .container_inner{
				border-bottom: 1px solid #efefef;
			}
		





					.content{
			margin-top: -161px;
		}
				
	
.logo_wrapper,
.side_menu_button,
.shopping_cart_inner
{
	height: 100px;
}
.content.content_top_margin{
	margin-top: 100px !important;
}

header:not(.centered_logo) .header_fixed_right_area {
    line-height: 100px;
}





        header.fixed_hiding .q_logo a,
        header.fixed_hiding .q_logo{
            max-height: 42.5px;
        }




nav.main_menu > ul > li > a{
	line-height: 100px;
}



    .drop_down .second .inner ul,
    .drop_down .second .inner ul li ul,
	.shopping_cart_dropdown,
    li.narrow .second .inner ul,
	.header_top .right #lang_sel ul ul,
    .drop_down .wide .second ul li.show_widget_area_in_popup .widget,
	.drop_down .wide.wide_background .second{
    background-color: #ffffff;
    background-color: rgba(255,255,255,1);
    }


nav.main_menu > ul > li > a{
	 color: #009ee0; 		font-family: 'Arial', sans-serif;
		 font-size: 21px;      line-height: 33px; 	 font-style: normal; 	 font-weight: 400; 		 text-transform: none; }



nav.main_menu ul li:hover a {
	 color: #000000; }

		nav.main_menu ul li.active a {
			color: #f07204		}
	




.drop_down .second .inner > ul > li > a,
.drop_down .second .inner > ul > li > h3,
.drop_down .wide .second .inner > ul > li > h3,
.drop_down .wide .second .inner > ul > li > a,
.drop_down .wide .second ul li ul li.menu-item-has-children > a,
.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a,
.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h5 a,
.drop_down .wide .second .inner > ul li .flexslider ul li  h5 a,
.drop_down .wide .second .inner > ul li.sub .flexslider ul li  h5,
.drop_down .wide .second .inner > ul li .flexslider ul li  h5,
.header_top #lang_sel ul li ul li a {
	 color: #9b9b9b; 		font-family: 'Arial', sans-serif !important;
		 font-size: 14px; 	 line-height: 25px; 	 font-style: normal;  	font-weight: 400; 	 text-transform: none;  	 letter-spacing: 0px;  }
.drop_down .second .inner > ul > li > a:hover,
.drop_down .wide .second ul li ul li.menu-item-has-children > a:hover,
.drop_down .wide .second .inner ul li.sub ul li.menu-item-has-children > a:hover{
	color: #000000 !important;
}
	.drop_down .wide .second>.inner>ul>li.sub>ul>li>a,
	.drop_down .second .inner ul li a,
	.drop_down .wide .second ul li a,
	.drop_down .second .inner ul.right li a
	{
	 padding-top: 5px; 	 padding-bottom: 5px; 
	}
	.drop_down .second ul li{
		border-bottom-style:solid;
	}
	li.narrow .second .inner ul{
		padding-top:0;
		padding-bottom:0;
	}
	.drop_down .second .inner ul li ul{
		top:0;
	}
.drop_down .wide .second .inner ul li.sub ul li a,
.drop_down .wide .second ul li ul li a,
.drop_down .second .inner ul li.sub ul li a,
.drop_down .wide .second ul li ul li a,
.drop_down .wide .second .inner ul li.sub .flexslider ul li .menu_recent_post,
.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post a,
.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post,
.drop_down .wide .second .inner ul li .flexslider ul li .menu_recent_post a{
	 color: #9b9b9b;  		font-family: 'Roboto', sans-serif;
		 font-size: 13px;  	 line-height: 33px;  	 font-style: normal;   	 font-weight: 300;  	 text-transform: capitalize;  	 letter-spacing: 0px;  }
.drop_down .wide.icons .second i{
     color: #9b9b9b;  }
.drop_down .second .inner ul li.sub ul li a:hover,
.drop_down .wide .second ul li.show_widget_area_in_popup:hover .popup_wrapper > a,
.drop_down .second .inner ul li ul li a:hover,
.drop_down .wide.icons .second a:hover i
{
	color: #000000 !important;
}






nav.mobile_menu ul li a,
nav.mobile_menu ul li h3{
	 color: #9b9b9b; 		font-family: 'Roboto', sans-serif;
		 font-size: 13px; 	 line-height: 16px; 	 font-style: normal; 	 font-weight: 300; 		letter-spacing: 5px;
			text-transform: uppercase;
	}


	nav.mobile_menu ul li span.mobile_arrow i, nav.mobile_menu ul li span.mobile_arrow i {
	    color: #9b9b9b;
	}

nav.mobile_menu ul li a:hover,
nav.mobile_menu ul li.active > a,
nav.mobile_menu ul li.current-menu-item > a{
	color: #000000;
}
	nav.mobile_menu ul li,
	nav.mobile_menu ul li,
	nav.mobile_menu ul li ul li,
    nav.mobile_menu ul li.open_sub > ul{
		border-color: #d6d6d6;
	}

	@media only screen and (max-width: 1000px){
		.header_bottom,
		nav.mobile_menu,
		header.fixed_top_header .top_header{
			background-color: #ffffff !important;
		}
	}
	#respond textarea,
	#respond input[type='text'],
	.contact_form input[type='text'],
	.contact_form  textarea,
	.comment_holder #respond textarea,
	.comment_holder #respond input[type='text'],
	input.wpcf7-form-control.wpcf7-text,
	input.wpcf7-form-control.wpcf7-number,
	input.wpcf7-form-control.wpcf7-date,
	textarea.wpcf7-form-control.wpcf7-textarea,
	select.wpcf7-form-control.wpcf7-select,
	input.wpcf7-form-control.wpcf7-quiz,
	.post-password-form input[type='password']
	{
	background-color: #f9f9f9; 	border: 1px solid #e4e4e4; 	color:#9b9b9b; 	}




h1,
.h1,
.title h1 {
			font-family: 'Work Sans', sans-serif;
		font-size: 40px; 			font-weight: 300;         }
.title h1{
	color: #009ee0; 					}


	.title.title_size_medium h1{
	font-size: 30px; 		     
	}
h2,
.h2,
h2 a{
	color: #000000; 			font-family: 'Work Sans', sans-serif;
		font-size: 28px; 	line-height: 30px; 	font-style: normal; 	font-weight: 300;     letter-spacing: 0px; 	text-transform: none; }
h3,
.h3,
h3 a{
	color: #000000; 		font-family: 'Arial', sans-serif;
		font-size: 26px; 	line-height: 45px; 	font-style: normal; 	    	text-transform: uppercase; }
h4,
.h4,
h4 a{
	color: #9b9b9b; 			font-family: 'Roboto', sans-serif;
		font-size: 16px; 	line-height: 31px; 	font-style: normal; 	font-weight: 300;     letter-spacing: 0px; 	text-transform: none; }
h5,
.h5,
h5 a,
.q_icon_with_title .icon_text_holder h5.icon_title{
	color: #000000; 		font-family: 'Arial', sans-serif;
		font-size: 16px; 	line-height: 31px; 	font-style: normal; 	    	text-transform: uppercase; }
h6,
.h6,
h6 a {
	color: #000000; 		font-family: 'Work Sans', sans-serif;
		font-size: 16px; 	line-height: 25px; 	font-style: normal;  			text-transform: none; }

	.blog_holder article.format-quote .post_text .post_title p,
	.blog_holder article.format-link .post_text .post_title p,
	.blog_holder article.format-quote .post_text .quote_author,
	blockquote h5
	{
	font-size: 18px; 	line-height: 31px; 	letter-spacing: 0px; 	text-transform: none; 				}
    p{
    	color: #777777;    	    		font-family: 'Work Sans', sans-serif;
    	    	font-size: 14px;    	line-height: 25px;    	font-style: normal;    	    	    	    }
    .filter_holder ul li span,
    blockquote h5,
    .q_social_icon_holder .simple_social,
    .header-widget.widget_nav_menu ul.menu li a,
    .side_menu a,
    .side_menu li,
    .side_menu span,
    .side_menu p,
    .side_menu .widget.widget_rss li a.rsswidget,
    .side_menu #wp-calendar caption,
    .side_menu #wp-calendar th, 
    .side_menu #wp-calendar td,
    aside .widget #lang_sel_list li a,
    aside .widget #lang_sel li a,
    aside .widget #lang_sel_click li a,
    section.side_menu #lang_sel_list li a,
    section.side_menu #lang_sel li a,
    section.side_menu #lang_sel_click li a,
    footer #lang_sel_list li a,
    footer #lang_sel li a,
    footer #lang_sel_click li a,
    footer #lang_sel_list.lang_sel_list_horizontal a,
    footer #lang_sel_list.lang_sel_list_vertical a,
    .side_menu #lang_sel_list.lang_sel_list_horizontal a,
    .side_menu #lang_sel_list.lang_sel_list_vertical a,
    #lang_sel_footer a{
    	color: #777777;    }
    .header_top #lang_sel > ul > li > a, 
    .header_top #lang_sel_click > ul > li> a,
    footer #lang_sel ul li a,
    footer #lang_sel ul ul a,
    footer #lang_sel_click ul li a,
    footer #lang_sel_click ul ul a,
    footer #lang_sel_click ul ul a span,
    section.side_menu #lang_sel ul li a,
    section.side_menu #lang_sel ul ul a,
    section.side_menu #lang_sel ul ul a:visited,
    section.side_menu #lang_sel_click > ul > li > a,
    section.side_menu #lang_sel_click ul ul a,
    section.side_menu #lang_sel_click ul ul a:visited{
    	color: #777777 !important;    }
    a, p a{
	color: #009ee0;			}

	 	h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
	.q_icon_with_title .icon_with_title_link,
	.blog_holder article .post_description a:hover,
	.blog_holder.masonry article .post_info a:hover,
	.breadcrumb .current,
	.breadcrumb a:hover,
	.portfolio_social_holder a:hover,
	.latest_post_inner .post_infos a:hover{
		color: #009ee0;
	}
	a:hover,p a:hover,
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,
.q_tabs .tabs-nav li a:hover,
.q_icon_with_title .icon_with_title_link:hover,
.blog_holder article .post_description a:hover,
.blog_holder.masonry article .post_info a:hover,
.portfolio_social_holder a:hover,
.latest_post_inner .post_infos a:hover{
	color: #0068d1;	}
	blockquote h5{
		color: #9b9b9b;
	}
    blockquote i.pull-left {
        color: #cecece;
    }



	.separator {
		height: 1px;margin-top: 0px;margin-bottom: 0px;background-color: #d6d6d6;	}
		.separator.small,
	.wpb_column>.wpb_wrapper .separator.small {
		height: 1px;margin-top: 10px;margin-bottom: 10px;background-color: #d6d6d6;width: 46px;	}
	

	.blog_holder article,
	.author_description,
	aside .widget,
	section.section,
	.animated_icons_with_text .animated_icon_with_text_inner:after,
	.animated_icons_with_text .animated_icon_with_text_inner:before{
		border-color:#d6d6d6;
	}


.qbutton,
.qbutton.medium,
#submit_comment,
.load_more a,
.blog_load_more_button a,
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit,
input.wpcf7-form-control.wpcf7-submit:not([disabled]),
.woocommerce table.cart td.actions input[type="submit"],
.woocommerce input#place_order,
.woocommerce-page input[type="submit"],
.woocommerce .button
	{
	color: #ffffff; 		font-family: 'Work Sans', sans-serif;
	
    
		font-size: 14px; 		line-height: 38px; 		height: 38px; 		font-style: normal; 		font-weight: 400; 		background-color: #e54463; 		border-radius: 0px; 		-moz-border-radius: 0px; 		-webkit-border-radius: 0px; 		letter-spacing: 0px; 		text-transform: uppercase; 	 border-width: 0px;	}

	.qbutton:hover,
	.qbutton.medium:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.post-password-form input[type='submit']:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .woocommerce table.cart td.actions input[type="submit"]:hover,
    .woocommerce input#place_order:hover,
    .woocommerce-page input[type="submit"]:hover,
	.woocommerce .button:hover
	{
	 color: #ffffff; 
		}

	.qbutton:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.post-password-form input[type='submit']:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .woocommerce table.cart td.actions input[type="submit"]:hover,
    .woocommerce input#place_order:hover,
    .woocommerce-page input[type="submit"]:hover,
	.woocommerce .button:hover
	{
		 background-color: #009ee0; 			}
	.qbutton.small{

		font-size: 14px; 		line-height: 38px; 		height: 38px; 		font-weight: 400; 					
	}
	.qbutton.white{

				background-color: #f37920; 	}
	.qbutton.white:hover,
	.portfolio_slides .hover_feature_holder_inner .qbutton:hover {

				background-color: #009ee0; 	}





    .q_accordion_holder.accordion.boxed .ui-accordion-header {
        background-color: #f9f9f9;color: #3b3a3c    }
    .q_accordion_holder.accordion.boxed .ui-accordion-header:hover {
    background-color: #3b3a3c;color: #ffffff !important    }

.google_map{
	height: 750px;
}


	.footer_top_holder,	footer #lang_sel > ul > li > a,	footer #lang_sel_click > ul > li > a{
		background-color: #f2f2f2;
	}
	footer #lang_sel ul ul a,footer #lang_sel_click ul ul a,footer #lang_sel ul ul a:visited,footer #lang_sel_click ul ul a:visited{
		background-color: #f2f2f2 !important;
	}

    .footer_top,
    .footer_top.footer_top_full{
     padding-top: 20px;padding-right: 20px;padding-bottom: 20px;padding-left: 20px 
 }

.footer_top .column_inner > div h2,
.footer_top .column_inner > div h3,
.footer_top .column_inner > div h4,
.footer_top .column_inner > div h5,
.footer_top .column_inner > div h6 {
	color:#009ee0;
}
	.footer_top,
	.footer_top p,
    .footer_top span,
    .footer_top li,
    .footer_top .textwidget,
    .footer_top .widget_recent_entries>ul>li>span {
		color: #9b9b9b;
	}
    .footer_top a
	{
        color: #009ee0 !important;
    }

    .footer_top .q_social_icon_holder .simple_social {
        color: #009ee0;
    }
    .footer_top a:hover
	{
        color: #3b3a3c !important;
    }

    .footer_top .q_social_icon_holder:hover .simple_social {
        color: #3b3a3c;
    }


	.footer_bottom_holder, #lang_sel_footer{
		background-color:#009ee0;
	}






	.footer_top h5 {
font-family: "Arial", sans-serif;font-size: 18px;line-height: 10px;font-weight: 600;text-transform: none;color: #009ee0;font-style: normal	}




    .footer_bottom_holder,
    .footer_bottom,
    .footer_bottom p,
    .footer_bottom_holder p,
    .footer_bottom span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_font_elegant){
	font-size: 14px;letter-spacing: 0px;line-height: 33px;text-transform: none;font-style: normal	}


.footer_bottom, .footer_bottom span, .footer_bottom p, .footer_bottom p a, .footer_bottom a, #lang_sel_footer ul li a,
footer #lang_sel > ul > li > a,
footer #lang_sel_click > ul > li > a,
footer #lang_sel a.lang_sel_sel,
footer #lang_sel_click a.lang_sel_sel,
footer #lang_sel ul ul a,
footer #lang_sel_click ul ul a,
footer #lang_sel ul ul a:visited,
footer #lang_sel_click ul ul a:visited,
footer #lang_sel_list.lang_sel_list_horizontal a,
footer #lang_sel_list.lang_sel_list_vertical a,
#lang_sel_footer a,
.footer_bottom ul li a {
	color:#ffffff;
}

	.footer_bottom p a:hover, .footer_bottom a:hover, #lang_sel_footer ul li a:hover,
	footer #lang_sel > ul > li > a:hover,
	footer #lang_sel_click > ul > li > a:hover,
	footer #lang_sel a.lang_sel_sel:hover,
	footer #lang_sel_click a.lang_sel_sel:hover,
	footer #lang_sel ul ul a:hover,
	footer #lang_sel_click ul ul a:hover,
	footer #lang_sel ul ul a:hover,
	footer #lang_sel_click ul ul a:hover,
	footer #lang_sel_list.lang_sel_list_horizontal a:hover,
	footer #lang_sel_list.lang_sel_list_vertical a:hover,
	#lang_sel_footer a:hover,
	.footer_bottom ul li a:hover {
	    color: #3b3a3c;
	}


	.side_menu .widget,
	.side_menu .widget.widget_search form,
	.side_menu .widget.widget_search form input[type="text"],
	.side_menu .widget.widget_search form input[type="submit"],
	.side_menu .widget h6,
	.side_menu .widget h6 a,
	.side_menu .widget p,
	.side_menu .widget li a,
	.side_menu .widget.widget_rss li a.rsswidget,
	.side_menu #wp-calendar caption,
	.side_menu .widget li,
	.side_menu_title h3,
	.side_menu .widget.widget_archive select,
	.side_menu .widget.widget_categories select,
	.side_menu .widget.widget_text select,
	.side_menu .widget.widget_search form input[type="submit"],
	.side_menu #wp-calendar th,
	.side_menu #wp-calendar td,
	.side_menu .q_social_icon_holder .simple_social {
		color: #9b9b9b;font-size: 13px;font-weight: 300;letter-spacing: 0px;text-transform: none;	}
	    .side_menu,
    .side_menu #lang_sel,
    .side_menu #lang_sel_click,
    .side_menu #lang_sel ul ul,
    .side_menu #lang_sel_click ul ul{
        background-color: #ffffff;    }
	.side_menu .widget a:hover,
	.side_menu .widget li:hover,
	.side_menu .widget li:hover > a,
	.side_menu li:hover .q_font_awsome_icon i {
		color: #000000;	}
		.side_menu .side_menu_title h4,
	.side_menu h5,
	.side_menu h6 {
		color: #000000;font-size: 13px;letter-spacing: 5px;font-weight: 500;	}

	




			.side_menu_slide_from_right .side_menu{
			right:-60%%;
			width:60%%;
		}
	
			.side_menu_slide_from_right .wrapper .cover{
			background-color:#3b3a3c;
		}
	
			.side_menu_slide_from_right.right_side_menu_opened .wrapper .cover{
			opacity:0.7;
		}
	

    .side_menu,
	.side_menu_slide_from_right .side_menu{
    padding-top:94px;padding-bottom:34px    }


	.blog_holder article.format-link .post_text .post_text_inner,
	.blog_holder article.format-quote .post_text .post_text_inner,
    .blog_single.blog_holder article.format-link .post_text .post_text_inner,
    .blog_single.blog_holder article.format-quote .post_text .post_text_inner {
		background-color: #f9f9f9;
	}
	.blog_holder article.format-link .post_text:hover .post_text_inner,
	.blog_holder article.format-quote .post_text:hover .post_text_inner{
		border-color: #f9f9f9;
	}
	.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_text .post_text_inner {
	background-color: #f9f9f9;
	}

	.blog_holder.blog_large_image h2,
	.blog_holder.blog_large_image h2 a,
	.blog_holder.blog_single article h2
	{
	font-family: Roboto;font-size: 35px;line-height: 44px;font-style: normal;font-weight: 300;letter-spacing: 5px;text-transform: uppercase;	}
	.blog_large_image h2 a,
	.blog_holder.blog_single article h2
	{
	color:#000000;
	}
	.blog_large_image h2 a:hover
	{
	color:#9b9b9b;
	}
	.blog_holder.blog_large_image article .post_text h2 .date,
	.blog_holder.blog_single article .post_text h2 .date
	{
	color:#9b9b9b;
	}








	.blog_holder.masonry:not(.blog_masonry_date_in_image) article .mejs-container,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article .mejs-container,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article .post_text .post_text_inner,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article .post_text .post_text_inner
	{
	background-color: #f9f9f9;
	}
	.blog_holder.masonry:not(.blog_masonry_date_in_image) h5,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) h5,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) h5 a,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) h5 a
	{
	font-family: Arial;text-transform: none;	}







/*Blog Masonry Gallery - end */




























    .side_menu_button > a,
    .mobile_menu_button span,
	.fixed_top_header .side_menu_button > a,
    .fixed_top_header .popup_menu .line,
    .fixed_top_header .mobile_menu_button span{ color: #9b9b9b;font-size: 14px; }

    .popup_menu .line,
    .popup_menu .line:after, .popup_menu .line:before{
        background-color: #9b9b9b;
    }
    .side_menu_button > a:hover,
    .mobile_menu_button span:hover,
    .popup_menu:hover .line,
    .popup_menu:hover .line:after,
    .popup_menu:hover .line:before{ color: #000000; }

    .popup_menu:hover .line,
    .popup_menu:hover .line:after, .popup_menu:hover .line:before{
        background-color: #000000;
    }
  
 
 .vertical_menu_float .menu-item .second{
	left: calc(100% + 30px); /*because of the padding*/
}

.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
	left: calc(100% + 40px);
}

 
 
 




	.vertical_menu_area{
		text-align:left;
	}
	































												

































    .woocommerce ul.products li.product h6,
    .qode_product_list_holder .product_title {
        font-family: Roboto, sans-serif;font-size: 13px;line-height: 20px;letter-spacing: 5px;font-weight: 500;font-style: normal;text-transform: uppercase;color: #3b3a3c;margin-bottom: 5px    }

    .woocommerce ul.products li.product:hover h6 {
        color: #000000    }

    .woocommerce ul.products li.product .price,
    .woocommerce ul.products li.product .price ins,
    .qode_product_list_holder .product_price {
        color: #9b9b9b !important;font-size: 13px;line-height: 20px;text-transform: uppercase;font-family: Roboto, sans-serif;font-style: normal;font-weight: 300;letter-spacing: 5px    }

	.woocommerce aside ul.product_list_widget li span.amount,
	aside ul.product_list_widget li span.amount{
		color: #9b9b9b !important;
	}

    .woocommerce li.product del, .woocommerce li.product del .amount {
         font-size: 13px;color: #9b9b9b    }

    .woocommerce .product .onsale:not(.out-of-stock-button), .woocommerce .product .single-onsale {
        color: #ffffff;font-size: 13px;text-transform: uppercase;font-family: Roboto, sans-serif;font-style: normal;font-weight: 300;letter-spacing: 0px;background-color: #3b3a3c;width: 55px;height: 55px;line-height: 55px    }
    .woocommerce .product .onsale-inner:after {
        display: none;
    }

    .woocommerce .product .onsale.out-of-stock-button {
        color: #ffffff;font-size: 11px;text-transform: uppercase;font-family: Roboto, sans-serif;font-style: normal;font-weight: 300;letter-spacing: 0px;background-color: #3b3a3c;width: auto;height: auto;padding-top: 0    }
    .woocommerce .product .onsale.out-of-stock-button .out-of-stock-button-inner {
        width: 55px;height: 55px;display: table-cell;vertical-align: middle    }


    .woocommerce .qbutton.add-to-cart-button,
    .woocommerce .single_add_to_cart_button,
    .woocommerce .woocommerce-message a.button,
    .woocommerce ul.products li.product .added_to_cart {
        color: #ffffff;font-size: 11px;line-height: 40px;height: 40px;text-transform: uppercase;font-family: Roboto;font-style: normal;font-weight: 400;letter-spacing: 3px;background-color: #3b3a3c;border-radius: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-color: #3b3a3c;border-width: 1px    }
    .woocommerce ul.products li.product a.qbutton:hover,
    .woocommerce .single_add_to_cart_button:hover,
    .woocommerce .woocommerce-message a.button:hover,
    .woocommerce ul.products li.product .added_to_cart:hover {
        background-color: transparent;color: #3b3a3c;border-color: #3b3a3c    }



    .woocommerce .product h1.product_title {
    font-family: Roboto, sans-serif;font-size: 36px;line-height: 44px;letter-spacing: 6px;font-weight: 300;font-style: normal;text-transform: uppercase;color: #3b3a3c    }

    .woocommerce div.product .summary p.price,
    .woocommerce div.product .summary p.price span.amount {
    color: #9b9b9b;font-size: 30px;line-height: 44px;text-transform: uppercase;font-family: Roboto, sans-serif;font-style: normal;font-weight: 300;letter-spacing: 1px    }

    .woocommerce div.product .summary p.price del, .woocommerce div.product .summary p.price del span.amount {
    font-size: 36px;color: #9b9b9b    }

    .woocommerce .quantity .minus,
    .woocommerce #content .quantity .minus,
    .woocommerce-page .quantity .minus,
    .woocommerce-page #content .quantity .minus,
    .woocommerce .quantity .plus,
    .woocommerce #content .quantity .plus,
    .woocommerce-page .quantity .plus,
    .woocommerce-page #content .quantity .plus {
        background-color:#ffffff;color:#3b3a3c    }
    .woocommerce .quantity .minus:hover,
    .woocommerce #content .quantity .minus:hover,
    .woocommerce-page .quantity .minus:hover,
    .woocommerce-page #content .quantity .minus:hover,
    .woocommerce .quantity .plus:hover,
    .woocommerce #content .quantity .plus:hover,
    .woocommerce-page .quantity .plus:hover,
    .woocommerce-page #content .quantity .plus:hover {
        background-color:#ffffff;color:#3b3a3c    }






    #back_to_top span i{
    	color: #ffffff;
	}
    #back_to_top:hover span i{
    	color: #3b3a3c;
	}
    #back_to_top{
    	bottom: 30px;
	}

	#back_to_top span{
		background-color: rgba(59,58,60,1);border-color: rgba(59,58,60,1);border-width: 1px;border-style: solid	}
	#back_to_top:hover span{
		background-color: rgba(255,255,255,0);border-color: rgba(59,58,60,1)	}





















	.blog_slider .blog_slider_simple_excerpt{
		margin-bottom: 20px;
	}


	
	
	.carousel-control .prev_nav,
	.carousel-control .next_nav{
	width: 42px; height: 42px; margin-top: 0; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); line-height: 42px; background-color: rgba(255,255,255,0); opacity: 1; border-color: rgba(255,255,255,0.5); border-style: solid; border-width: 1px	}

	.ls-nav-prev,
	.ls-nav-next{
	width: 42px!important; height: 42px!important; margin-top: 0!important; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%)!important; line-height: 42px!important; background-color: rgba(255,255,255,0)!important; opacity: 1!important; border-color: rgba(255,255,255,0.5)!important; border-style: solid!important; border-width: 1px!important;	
	}
	.carousel-control .prev_nav:hover,
	.carousel-control .next_nav:hover{
	background-color: rgba(255,255,255,0); border-color: rgba(255,255,255,1)	}

	.ls-nav-prev:hover,
	.ls-nav-next:hover{
	background-color: rgba(255,255,255,0)!important; border-color: rgba(255,255,255,1)!important;	}
	.carousel-control .prev_nav i,
	.carousel-control .next_nav i,
	.ls-nav-prev:after,
	.ls-nav-next:after{
	line-height: 42px; font-size: 22px; color: rgba(255,255,255,0.6)	}
    .vertical_menu_enabled.vertical_menu_transparency .carousel-control i{
    font-size: 22px    }
	.carousel-control .prev_nav:hover i,
	.carousel-control .next_nav:hover i,
	.ls-nav-prev:hover:after,
	.ls-nav-next:hover:after{
	color: rgba(255,255,255,1)	}
	.carousel-control .prev_nav,
	.q_slider .q_slider_inner .ls-nav-prev{
		left: 10px;
	}

	.carousel-control .next_nav,
	.q_slider .q_slider_inner .ls-nav-next{
		right: 10px;
	}






    .masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }








